html {
	scroll-behavior: smooth;
}

html,
body {
	font-family: Arial, Helvetica, sans-serif;
	color: #222;
	margin-top: 0;
	margin-bottom: 0;
}

* {
	box-sizing: border-box;
}

.wrapper {
	width: 1200px;
	margin: auto;
	text-align: center;
}

.nav {
	background-color: #222;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.nav a {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 50px;
	margin-left: 50px;
	display: inline-block;
	padding: 10px 20px;
	border: solid 1px #ccc;
	font-weight: 700;
}

.nav a:hover {
	background-color: #ccc;
	color: #222;
}

.hero img {
	width: 300px;
	margin-top: 30px;
	border-radius: 50%;
}

h1 {
	background-color: #222;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}

h1 span.display-name {
	font-size: 40px;
	font-style: italic;
	border-right: #fff solid 5px;
	padding-right: 60px;
}

h1 span.display-desc {
	font-size: 48px;
	padding-left: 60px;
}

#about-me .section-header {
	margin-top: 30px;
	margin-bottom: 30px;
}

#about-me p {
	font-size: 20px;
	font-weight: 600;
	width: 700px;
	margin: 0 auto;
}

.section-header {
	font-size: 32px;
	border: solid 1px #ccc;
	width: 300px;
	padding: 10px 20px;
	border-radius: 5px;
	margin: 0 auto;
}

.projects {
	width: 600px;
	margin: 0 auto;
}

.project-1,
.project-2,
.project-3 {
	width: 600px;
	border: solid #222;
}

.project-title {
	color: #777;
}

.project-screenshot {
	width: 100%;
}

.footer {
	background-color: #222;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer a img {
	color: #fff;
	width: 20px;
}

#about-me, #my-projects, #next-on-list {
	margin-bottom: 50px;
}

ol {
	list-style: none;
	font-style: italic;
}